body {
  width: 100%;
  height: 100%;
  margin: 0;
}
a {padding: 10px;}
a{background-color: gray;}
header {text-align-last: center;}
 section image {align-self: auto;}
 .center{display: block;
margin-left: auto;
margin-right: auto;
width: 50%;}
figcaption{text-align-last: center;}
figcaption{font-size: smaller;}
p.center {width: 800px;}
p{size-adjust: 800px;}
p{margin: auto;}
p{width: 800px;}
p{font font-stretch: condensed;}
.footer.div{width: 25%;
float: left;}
